scripts/n8n_workflow_inquiry.json
{
    "name": "Anushtan Inquiry Pipeline",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "school-inquiry",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                340
            ],
            "webhookId": "school-inquiry"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.body.update_only }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "check-update-mode",
            "name": "Check Update Mode",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                680,
                340
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "schema": {
                    "__rl": true,
                    "value": "public",
                    "mode": "list",
                    "cachedResultName": "public"
                },
                "table": {
                    "__rl": true,
                    "value": "inquiries",
                    "mode": "list",
                    "cachedResultName": "inquiries"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "status": "={{ $json.body.status }}",
                        "notes": "={{ $json.body.message }}",
                        "inquiry_id": "={{ $json.body.inquiry_id }}"
                    },
                    "matchingColumns": [
                        "inquiry_id"
                    ],
                    "schema": [
                        {
                            "id": "inquiry_id",
                            "displayName": "inquiry_id",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        }
                    ]
                }
            },
            "id": "update-postgres",
            "name": "Update DB Record",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                900,
                140
            ],
            "credentials": {
                "postgres": {
                    "id": "Postgres Credentials",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Format Phone Number to E.164\nconst phone = $input.item.json.body.phone || '';\nlet formatted = phone.replace(/\\D/g, ''); // Remove non-digits\n\n// Assuming India (+91) default if not present\nif (formatted.length === 10) {\n  formatted = '91' + formatted;\n}\n\n// Add + prefix\nformatted = '+' + formatted;\n\nreturn {\n  json: {\n    ...$input.item.json.body,\n    phone_formatted: formatted,\n    received_at: new Date().toISOString()\n  }\n};"
            },
            "id": "format-phone",
            "name": "Format Phone",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                540
            ]
        },
        {
            "parameters": {
                "operation": "insert",
                "schema": {
                    "__rl": true,
                    "value": "public",
                    "mode": "list",
                    "cachedResultName": "public"
                },
                "table": {
                    "__rl": true,
                    "value": "inquiries",
                    "mode": "list",
                    "cachedResultName": "inquiries"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "student_name": "={{ $json.student_name }}",
                        "child_age": "={{ $json.child_age }}",
                        "parent_name": "={{ $json.parent_name }}",
                        "email": "={{ $json.email }}",
                        "phone": "={{ $json.phone_formatted }}",
                        "source": "={{ $json.source || 'Website' }}",
                        "inquiry_id": "={{ $json.inquiry_id }}",
                        "current_class": "={{ $json.current_class }}",
                        "notes": "={{ $json.message }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "student_name",
                            "displayName": "student_name",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "child_age",
                            "displayName": "child_age",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "integer",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "parent_name",
                            "displayName": "parent_name",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "email",
                            "displayName": "email",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "phone",
                            "displayName": "phone",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "source",
                            "displayName": "source",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        }
                    ]
                }
            },
            "id": "insert-postgres",
            "name": "Insert/Upsert to DB",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                1120,
                540
            ],
            "credentials": {
                "postgres": {
                    "id": "Postgres Credentials",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "operation": "send",
                "message": "={{ $json.body.student_name }}, Thank you for your inquiry at Anushtan. We will contact you shortly.",
                "phoneNumber": "={{ $json.body.phone_formatted }}"
            },
            "id": "send-whatsapp",
            "name": "Send WhatsApp Greeting",
            "type": "n8n-nodes-base.whatsapp",
            "typeVersion": 1,
            "position": [
                1340,
                540
            ],
            "credentials": {
                "whatsappApi": {
                    "id": "WhatsApp Production Credentials",
                    "name": "WhatsApp account"
                }
            },
            "continueOnFail": true
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Check Update Mode",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Update Mode": {
            "main": [
                [
                    {
                        "node": "Update DB Record",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Format Phone",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Phone": {
            "main": [
                [
                    {
                        "node": "Insert/Upsert to DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insert/Upsert to DB": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp Greeting",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}